.Dictionary {
  max-width: 960px;
  margin: 0 auto;
}

.Dictionary section {
  box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 8px;
  background: white;
  margin-top: 10px;
  padding: 40px;
}